
/ {
    chosen {
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
    };
    
    /* Define CH375 devices - simple nodes for GPIO reference only */
    ch375a: ch375a {
        compatible = "gpio-leds";  /* Use gpio-leds which accepts gpios property */
        status = "okay";
        
        /* INT pin - we'll reference this in code */
        gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
        label = "CH375A_INT";
    };
    
    ch375b: ch375b {
        compatible = "gpio-leds";
        status = "okay";
        
        gpios = <&gpioc 14 GPIO_ACTIVE_LOW>;
        label = "CH375B_INT";
    };
};

/* Configure UARTs - these ARE supported by Zephyr */
&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <9600>;
    status = "okay";
    /* Note: 9-bit mode will be configured programmatically */
};

&usart3 {
    pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
    pinctrl-names = "default";
    current-speed = <9600>;
    status = "okay";
};

/* Log UART */
&uart4 {
    pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pa1>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

/* USB OTG FS for device mode */
&usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
};

/* GPIO ports */
&gpioc {
    status = "okay";
};

&gpioe {
    status = "okay";
};