/ {
    chosen {
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;
    };
};

/* Configure UARTs for CH375 */
&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <9600>;
    status = "okay";
};

&usart3 {
    pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
    pinctrl-names = "default";
    current-speed = <9600>;
    status = "okay";
};

/* Log UART */
&uart4 {
    pinctrl-0 = <&uart4_tx_pc10 &uart4_rx_pa1>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

/* USB OTG FS for device mode */
&usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
};

/* GPIO ports */
&gpioc {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};